.concentration__container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.concentration__field
{
    position: relative;
    width: 600px;
    height: 300px;
}

.concentration__point
{
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.concentration__button
{
    margin-top: 15px;
    border: none;
    padding: 10px;
    background: none;
    transition: background 0.2s;
}

.concentration__button:hover
{
    background: rgba(255, 255, 255, 0.5);
}

.concentration__button:active
{
    color: #f36223;
    background: rgba(255, 255, 255, 1);
}

.concentration__button:focus
{
    outline: none;
}